body{
    width: 100%;
    height: 100%;
    /*background-color: #000000;*/
    background-image: url("../pictures/space_square.png");
    background-repeat: repeat;
    background-color:#000000;
    text-align: center;
    overflow: hidden;
}
header{
    width: 75%;
    margin:auto;
    padding:20px;
}
main{
    width: 75%;
    margin:auto;
    padding:20px;
}
footer{

}
h1{
    font-size: 2.5vw;
    color:yellow;
}
h2{
    font-size: 2.0vw;
}
h3{
    font-size: 1.5vw;
    text-decoration: underline;
}
h4{
    font-size: 1.0vw;
}
.intro_text{
    font-size: 2.5vw;
    color:rgb(94, 222, 231);
    animation: affiche_texte_intro 5s linear;
}
.main_container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color:rgb(94, 222, 231);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}
.main_content{
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    -webkit-animation:defilement 50s linear;
    -moz-animation:defilement 50s linear;
    -ms-animation:defilement 50s linear;
    -o-animation:defilement 50s linear;
    animation:defilement 50s linear;
 }
.main_content > .title {
    font-size: 90%;
    text-align: center;
}

.main_content > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}
#logo_becode{
    animation: affiche_logo 2s linear;
}
@keyframes affiche_texte_intro {
    0% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}
@keyframes defilement {
    0% {
        top: 800px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
